<h2>Welcome Trainer, {{name}}</h2>

{{#if roster.length}}
<div class='columns'>
    <h2>Current Roster:</h2>

    {{#each rosters as |roster| }}
    <div class='column'>
        <div class='columns is-3'>
            <div class='box'>
                <p>Pokemon: {{pokemon.name}}</p>
                <p>Id: {{pokemon.id}}</p>
                <p>Type: {{pokemon.type}}</p>
                <p>Hitpoints: {{pokemon.hp}}</p>
                <p>Attack: {{pokemon.attack}}</p>
                <p>Defense: {{pokemon.defense}}</p>
            </div>
        </div>
    </div>
    {{/each}}
{{/if}}
</div>